<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-default ">
      <div class="container">
        <div class="navbar-header">
          <a  class="navbar-brand" href="#">Online Exams</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="#">Java Exams</a></li>
          <li><a href="#">Python Exams</a></li>
          <li><a href="#">Aptitude Exams</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">SignUp</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Logout</a></li>
        </ul>

      </div>

    </nav>
  </body>
</html>
